{% if site.output == "pdf" %}
{{site.data.alerts.note}} The content on this page doesn't display well on PDF, but I included it anyway so you could
see the problems this layout poses if you're including it in PDF. {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src="js/jquery.shuffle.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
{% endunless %}
<div class="row">
  <div class="filter-options">
    <button class="btn btn-primary" data-group="all">All</button>
    <button class="btn btn-primary" data-group="getting-started">Getting Started</button>
    <button class="btn btn-primary" data-group="embedding">Embedding Cyclr</button>
    <button class="btn btn-primary" data-group="installing">Installing Template Integrations</button>
    <button class="btn btn-primary" data-group="builder-tools">Integration Builder Tools</button>
    <button class="btn btn-primary" data-group="connector-creation">Custom Connector Creation</button>
    <button class="btn btn-primary" data-group="launch">LAUNCH</button>
    <button class="btn btn-primary" data-group="plugins">Plugins</button>
    <button class="btn btn-primary" data-group="connector">Connector Guides</button>
  </div>
</div>
<div id="grid" class="row">


  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["getting-started"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Getting started</div>
      <div class="panel-body">
        Learn about the Cyclr platform including what you can do to provide native integrations
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "getting-started" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>


  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["builder-tools"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Integration Builder Tools</div>
      <div class="panel-body">
        Take a look at some of the integration tools you have at your disposal.
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "builder-tools" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>



  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["embedding"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Embedding Cyclr</div>
      <div class="panel-body">
        A set of guides to introduce you to how to work with and embed Cyclr:
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "embedding" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["connector-creation"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Custom Connector Creation</div>
      <div class="panel-body">You can build your own connectors inside the Cyclr platform. Learn about connectors'
        components and build your own.
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "connector-creation" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["installing"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Installing Template Integrations</div>
      <div class="panel-body">Go through the steps to create your own self-service integration UI using our API.
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "installing" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["launch"]'>

    <div class="panel panel-default">
      <div class="panel-heading">LAUNCH</div>
      <div class="panel-body">
        Learn how to publish your integrations inside your SaaS app using our ready made integration setup tool -
        LAUNCH.
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "launch" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["plugins"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Plugins</div>
      <div class="panel-body">
        We have a few plugins available, learn how to use them here.
        <ul>
          {% for page in site.pages %}
          {% for tag in page.tags %}
          {% if tag == "plugins" %}
          <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

  <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["connector"]'>

    <div class="panel panel-default">
      <div class="panel-heading">Connector Guides</div>
      <div class="panel-body">
        Find out more about our connectors, including how to setup OAuth with your credentials.
          <ul>
              {% for page in site.pages | sort: "title" %}
              {% for tag in page.tags %}
              {% if tag == "connector" %}
              <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
              {% endif %}
              {% endfor %}
              {% endfor %}
          </ul>
      </div>
    </div>

  </div>
  <!-- sizer -->
  <div class="col-xs-6 col-sm-4 col-md-1 shuffle_sizer"></div>


</div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}